![image1](images/001.png)

![image2](./images/001-01.png)

In [7495]:
# Declaring and assigning value to constants
PI = 3.14
GRAVITY = 9.8
print(PI)
print(GRAVITY)

3.14
9.8

In [7496]:
#Declaring and assigning value to a variable
a= "Apple"
print(a)
# Changing value of a variable
a = "Aeroplane"
print(a)
a = 100
print(a)
#Assigning Multiple values to a variable
b, c, d = 1, 2.5, "Hello"
print(b, c, d)
#Assigning same value to multiple variables
b = c=d=6
print(b, c, d)

Apple
Aeroplane
100
1 2.5 Hello
6 6 6

![image3](./images/002.png)

In [7497]:
class MyComplexNumber:
    # Constructor methods
    def __init__(self, real = 0,imag = 0):
        print("MyComplexNumber constructor executing...")
        self.real_part = real
        self.imag_part = imag

    def displayComplex(self): print("{0} + {1}j".format(self.real_part, self.imag_part))

In [7498]:
# Create a new object against MyComplexNumber class
cmp1x1 = MyComplexNumber (20,80)
# Calling displayComplex() function
#Output: 40 + 50j
cmp1x1.displayComplex()

MyComplexNumber constructor executing...
20 + 80j

In [7499]:
# Create another object against MyComplexNumber class
# and create a new attribute 'new_attribute'
cmp1x2 = MyComplexNumber (60,70)
cmp1x2.new_attribute = 80
cmp1x2.displayComplex()
#Output: (60, 70, 80)
print((cmp1x2.real_part, cmp1x2.imag_part, cmp1x2.new_attribute))

MyComplexNumber constructor executing...
60 + 70j
(60, 70, 80)

In [7500]:
# but cmp1x1 object doesn't have attribute 'new_attribute' # AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'
# cmp1x1.new_attribute
# print(cmp1x1)

In [7501]:
# Deleting object attributes and the object
print(cmp1x1)
del cmp1x1.real_part
del cmp1x1

<__main__.MyComplexNumber object at 0x1071ac150>

In [7502]:
# print(cmp1x1) # output NameError: name 'cmp1x1' is not defined

![image4](./images/003.png)

In [7503]:
# Defining and declaring and array
arr = [10, 20, 30, 40, 50]
print(arr)
#Accessing Array elements
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1]) # Negative Indexing
print (arr[-2]) # Negative Indexing

[10, 20, 30, 40, 50]
10
20
30
50
40

In [7504]:
brands = ["Tesla", "Apple", "Google", "Microsoft", "Toyota"]
print(brands)
# Finding the Length of the array
num_brands= len(brands)
print(num_brands)
# Adding an element to an array using append()
brands.append("Intel")
print(brands)

['Tesla', 'Apple', 'Google', 'Microsoft', 'Toyota']
5
['Tesla', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Intel']

In [7505]:
#Removing elements from an array
colors = ["violet", "indigo", "blue", "green", "yellow", "orange", "red"]
print(colors)

del colors [4]
print(colors)

colors.remove("blue")
print(colors)

colors.pop(3)
print(colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
['violet', 'indigo', 'blue', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'red']

In [7506]:
# Modifying elements of an array using indexing
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)

fruits[1] = "Pineapple"
print(fruits)

fruits[-1] ="Guava"
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Guava']

In [7507]:
# Concatenating two arrays using the + operator
concat = [1, 2, 3]
print(concat)

concat + [4, 5, 6]
print(concat)

concat += [4, 5, 6]
print(concat)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [7508]:
# Repeating element in an array
repeat= ["a"]
print(repeat)

repeat *= 5
print(repeat)

['a']
['a', 'a', 'a', 'a', 'a']

In [7509]:
#Slicing an array
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)
print(fruits[1:4])
print(fruits[:3])
print(fruits[-4:])
print(fruits[-3:-1])

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Banana', 'Mango', 'Grapes']
['Apple', 'Banana', 'Mango']
['Banana', 'Mango', 'Grapes', 'Orange']
['Mango', 'Grapes']

In [7510]:
# Declaring and defining multidimensional array
mult_d_arr = [[1,2], [3,4], [5,6], [7,8]]
print(mult_d_arr)
print(mult_d_arr[0])
print(mult_d_arr[3])
print(mult_d_arr[2][1])
print(mult_d_arr[3][0])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7

# File methods

![image5](./images/004.png)

![image6](./images/004-01.png)

# Keywords and identifiers

![image7](./images/005.png)

![image8](./images/005-01.png)

![image9](./images/005-02.png)

In [7511]:
# True False
print(5 == 5)
print(5 > 5)

True
False

In [7512]:
# None
print (None == 0)
print (None == False)
print (None == [])
print (None == None)

False
False
False
True

In [7513]:
def a_void_function():
    a = 1
    b = 2
    c = a + b
    # return c
x = a_void_function()
print(x)

None

In [7514]:
# and, or, not
print (True and False)
print (True or False)
print(not False)
print (True and True)
print (True or True)
print(not True)

False
True
True
True
True
False

In [7515]:
# as
import math as my_math
print(my_math.cos (my_math.pi))

-1.0

In [7516]:
# assertion

# assert 5 > 5 # output AssertionError
assert 5 == 5

In [7517]:
# break
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [7518]:
# continue
for i in range(1,8):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7

In [7519]:
# class
class ExampleClass:
    def function1 (parameters):
        print("function1() executing...")

    def function2(parameters):
        print("function2() executing...")
ob1 = ExampleClass()
ob1. function1()
ob1.function2()

function1() executing...
function2() executing...

In [7520]:
# def
def function_name (parameters):
    pass
function_name(10)

In [7521]:
# del
a = 10
print(a)
del a
# print(a) # name 'a' is not defined

10

In [7522]:
# if..elif..else
num = 2
if num == 1:
    print('One')
elif num == 2:
    print('Two')
else:
    print('Something else')

Two

In [7523]:
# try...raise...catch...finally
try:
    X = 9
    #raise ZeroDivisionError # Division cannot be performed #Execution Successfully
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Execution Successfully") # Execution Successfully

Execution Successfully

In [7524]:
# for
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [7525]:
# from.. import
import math
from math import cos
print(cos(10))

-0.8390715290764524

In [7526]:
#global
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15
read1()
write1()
read1()
write2()
read1()

10
5
5

In [7527]:
# in
a = [1,2,3,4]
print(4 in a)
print(44 not in a)

True
True

In [7528]:
# is
print(True is True)

True

In [7529]:
# lambda
a = lambda x: x*2
for i in range(1,6):
    print(i, a(i))

1 2
2 4
3 6
4 8
5 10

In [7530]:
# nonLocal
a = 300
def outer_function():
    a = 5
    def inner_function():
        nonlocal a # looks inside the outer scope not the global scope
        a = 10
        print("Inner function: ",a)
    inner_function()
    print('calling inner_function() a has been changed to',a)
    print("Outer function: ",a)
outer_function()

Inner function:  10
calling inner_function() a has been changed to 10
Outer function:  10

In [7531]:
# pass
def function(args):
    pass
function(10)

In [7532]:
# return
def func_return():
    return True, 10
flag, number = func_return()
print(func_return())
print(flag)
print(number)

(True, 10)
True
10

In [7533]:
#while
i = 5
while(i > 0):
    print(i)
    i -= 1

5
4
3
2
1

In [7534]:
# with
with open('./example.txt', 'w') as my_file:
    my_file.write('Hello world!')

In [7535]:
# yield
def generator():
    for i in range(6):
        yield i*i
g= generator()
print(list(generator()))
for i in g:
    print(i)

[0, 1, 4, 9, 16, 25]
0
1
4
9
16
25

# Tuples

![image10](./images/006.png)

![image11](./images/006-01.png)

![image12](./images/006-02.png)

In [7536]:
# creating an empty tuple
tuple1 = ()
print(tuple1)
# creating tuples with integer elements print(tuple2)
tuple2 = (1, 2, 3)
print(tuple2)
#tuple with mixed datatypes
tuple3 = (101, "Anirban", 20000.00, "HR Dept")
print(tuple3)

()
(1, 2, 3)
(101, 'Anirban', 20000.0, 'HR Dept')

In [7537]:
# creation of nested tuple
tuple4=("points", [1,4,3], (7,8,6))
print(tuple4)
# tuple can be created without any parentheses
# also called tuple packing
tuple5 = 101, "Anirban", 20000.00, "HR Dept"
print(tuple5)
# tuple unpacking is also possible
empid, empname, empsal, empdept = tuple5
print(empid)
print(empname)
print (empsal)
print(empdept)
print(type (tuple5))

('points', [1, 4, 3], (7, 8, 6))
(101, 'Anirban', 20000.0, 'HR Dept')
101
Anirban
20000.0
HR Dept
<class 'tuple'>

In [7538]:
# accessing elements in a tuple
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1)
print(tuple1[1])
print(tuple1[3])
print(tuple1[5])

('w', 'e', '1', 'c', 'o', 'm', 'e')
e
c
m

In [7539]:
# nested tuple
nest_tuple2 = ("point", [1,3,4], (8,7,9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('point', [1, 3, 4], (8, 7, 9))
n
4
9

In [7540]:
# slicing tuple contents
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1[1:3])
print(tuple1[:-3])
print(tuple1[3:])
print(tuple1[:])

('e', '1')
('w', 'e', '1', 'c')
('c', 'o', 'm', 'e')
('w', 'e', '1', 'c', 'o', 'm', 'e')

In [7541]:
# tuple elements are immutable
tuple1 = ('w', 'e', '1', 'c', 'b', 'm', 'e')
print (tuple1)
# tuple1[2] = 'x' # error # 'tuple' object does not support item assignment
# tuples can be reassigned
tuple1 = ('g', 'o', 'o', 'd', 'b', 'y', 'e')
print (tuple1)

('w', 'e', '1', 'c', 'b', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [7542]:
# concatenation of tuples
tuple2 = ('w', 'e', '1')
tuple3 = ('c', 'o', 'm', 'e')
print(tuple2)
print(tuple3)
print(tuple2+tuple3)
print(("again",)*4)

('w', 'e', '1')
('c', 'o', 'm', 'e')
('w', 'e', '1', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [7543]:
# deletion operation on a tuple
tuple4=('w', 'e', '1', 'c', 'o', 'm', 'e')
# as immutable so elements can not be deleted
# del tuple4[2] # 'tuple' object doesn't support item deletion
# but can delete entire tuple
del tuple4
# print(tuple4) # name 'tuple4' is not defined

In [7544]:
#tuple methods
tuple5 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple5.count('e'))
print(tuple5.index('c'))

2
3

In [7545]:
# tuple operations
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple6)
# membership
print('c' in tuple6)
print('c' not in tuple6)
print('a' in tuple6)
print('a' not in tuple6)

('w', 'e', '1', 'c', 'o', 'm', 'e')
True
False
False
True

In [7546]:
# iteration through tuple elements
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
for letters in tuple6:
    print("letter is -> ",letters)

letter is ->  w
letter is ->  e
letter is ->  1
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [7547]:
# built-in functions with tuple
tuple7 = (22,33,55,44,77,66,11)
print(tuple7)
print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))

(22, 33, 55, 44, 77, 66, 11)
77
11
[11, 22, 33, 44, 55, 66, 77]
7

# sets

![image13](./images/007.png)

![image14](./images/007-01.png)

![image15](./images/007-02.png)

![image16](./images/007-03.png)

![image17](./images/007-04.png)

In [7548]:
# creating sets
# sets of integers
my_set1 = {11,33,66,55,44,22}
print(my_set1)

# set of mixed datatypes
my_set2 = { 101, "Agnibha", (21, 2, 1994)}
print(my_set2)
# duplicate values are not allowed
my_set3 = {11, 22, 33, 33, 44, 22}
print(my_set3)

{33, 66, 22, 55, 11, 44}
{(21, 2, 1994), 101, 'Agnibha'}
{33, 11, 44, 22}

In [7549]:
# set cannot have mutable items
# my_set4 = {1, 2, [3, 4]} # Error #unhashable type: 'list'
# we can make set from a list
my_set5=set([1,2,3,2])
print(type (my_set5))
print(my_set5)
# we can make list from a set
my_list1 = list({11,22,33,44})
print(type (my_list1))
print(my_list1)

<class 'set'>
{1, 2, 3}
<class 'list'>
[33, 11, 44, 22]

In [7550]:
# operations on sets
my_set1 = {11,33,44,66,55}
print(my_set1)
# 'set' object does not support indexing
#my_set1[0] #Error
# add an element
my_set1.add(77)
print(my_set1)
# add multiple elements
my_set1.update([88,99,22])
print(my_set1)
# add List and set
my_set1.update([100, 102], {103,104,105})
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44, 77}
{66, 11, 77, 22, 88, 33, 99, 44, 55}
{66, 11, 77, 22, 88, 33, 99, 100, 102, 103, 104, 105, 44, 55}

In [7551]:
# remove and discard
# #initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# discard an element which is not present, no error
my_set1.discard(4)
print(my_set1)
# remove an element which is not present, error raised
#my_set1.remove(6) # KeyError: 6
print(my_set1)
# discard an element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11}
{33, 66, 11}

In [7552]:
# using pop()
#initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# pop an element
print(my_set1.pop())
# pop another element
print(my_set1.pop())
print(my_set1)
# clear my_set
my_set1.clear()
print(my_set1)

{33, 66, 55, 11, 44}
33
66
{55, 11, 44}
set()

In [7553]:
# set operations - union
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use | operator for union
print (myset1 | myset2)
print(myset2 | myset1)
print(myset1.union (myset2))
print (myset2.union (myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7554]:
# set operations intersection
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use & operator for intersection
print (myset1 & myset2)
print (myset2 & myset1)
print(myset1.intersection (myset2))
print (myset2.intersection (myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [7555]:
# set operations - set difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

#use - operator for set difference
print (myset1 - myset2)
print (myset2 - myset1)
print (myset1.difference(myset2)) # differences in only one set
print (myset2.difference(myset1))

# set operations symmetric difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print (myset1)
print(myset2)
# use operator for symmetric difference
print (myset1 ^ myset2)
print (myset2 ^ myset1)
print (myset1.symmetric_difference(myset2)) # differences in all two sets
print (myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [7556]:
# set membership
myset1 = {0, 1, 2, 3, 4, 5}
print (2 in myset1)
print(6 in myset1)
print (2 not in myset1)
print(6 not in myset1)

True
False
False
True

In [7557]:
# iterating through a set
for letter in set("welcome"):
    print(letter)

e
w
o
m
c
l

In [7558]:
# built-in functions with set
myset1 = {0, 1, 2, 3, 4, 5}
print(len(myset1))
print(max (myset1))
print(min (myset1))
print(sorted (myset1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [7559]:
# python frozenset

# Frozenset is a new class that has the characteristics
# of a set, but its elements cannot be changed once assigned
# While tuples are immutable lists, frozen-sets are immutable sets.
# #initialize A and B
myset1 = frozenset([1, 2, 3, 4])
myset2 = frozenset([3, 4, 5, 6])
print(myset1)
print(myset2)
print(myset1.difference (myset2))
print(myset1.union (myset2))
print (myset1.intersection (myset2))
print(myset1.symmetric_difference (myset2))
# myset1.add(10) #'frozenset' object has no attribute 'add'
# it has look like tuples immutable

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})

# imports

![image18](./images/008.png)

In [7560]:
# Importing module as well as renaming it.
import math as m
print("The value of pi is", m.pi)

The value of pi is 3.141592653589793

In [7561]:
# Usage of from
from math import pi
print("The value of pi is", pi)

The value of pi is 3.141592653589793

In [7562]:
# import all names from the standard module math
from math import *
print("The value of pi is", pi)

The value of pi is 3.141592653589793

# directories

![image19](./images/009.png)

In [7563]:
import os
print(os.getcwd()) #Returns the present working directory
print(os.getcwdb()) #Returns the present working directory as a byte object

/Users/abdelrahman/PycharmProjects/python-revision
b'/Users/abdelrahman/PycharmProjects/python-revision'

In [7564]:
# os.chdir('C:\\Users\\Abdelrahman\\FileTest') #use to change directory
os.chdir('/Users/abdelrahman/PycharmProjects/python-revision/images') #use to change directory
print(os.listdir()) # ALL files and subdirectories inside a directory # can be known using the Listdir() method.

['007-01.png', '002.png', '003.png', '007-02.png', '001.png', '007-03.png', '010.png', '004.png', '005-02.png', '005.png', '011.png', '007-04.png', '007.png', '005-01.png', '006.png', '001-01.png', '006-02.png', '006-01.png', '004-01.png', '008.png', '009.png', '010-01.png']

In [7565]:
# os.mkdir('Test') # used to make a new directory
# os.rename('Test', 'New_One') # used to rename a directory

In [7566]:
os.chdir('/Users/abdelrahman/PycharmProjects/python-revision/')
os.remove('example.txt') # use to remove a file
# os.rmdir('New_One') # use to remove a directory
# os.chdir('C:\\Users\\Abdelrahman')

# dictionary

![image20](./images/010.png)

![image21](./images/010-01.png)

In [7567]:
#Accessing elements from a dictionary
new_dict = {1: "Hello", 2: "Hi", 3:"Hola"}
print(new_dict)
print(new_dict[1]) # if invalid key rais error
print(new_dict.get(2)) # if invalid key return None

#Updating value
new_dict[1] = "Hey"
print(new_dict)
#Adding value
new_dict[4] = "Namaste"
print(new_dict)

{1: 'Hello', 2: 'Hi', 3: 'Hola'}
Hello
Hi
{1: 'Hey', 2: 'Hi', 3: 'Hola'}
{1: 'Hey', 2: 'Hi', 3: 'Hola', 4: 'Namaste'}

In [7568]:
# Creating a new dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}
print(squares)
# remove a particular item
print(squares.pop(4))
print(squares)
# remove an arbitrary item
print(squares.popitem())
print(squares)
# delete a particular item
del squares[1]
print(squares)

del squares # delete all dict
# print(squares) # Error # name 'squares' is not defined

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
16
{1: 1, 2: 4, 3: 9, 5: 25}
(5, 25)
{1: 1, 2: 4, 3: 9}
{2: 4, 3: 9}

In [7569]:
# Creating a new dictionary using Comprehension
squares = {x: x*x for x in range(6)}
print(squares)

# Dictionary Membership test
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(squares)

print (1 in squares)
print (2 not in squares)
#membership tests for key only not value
print(49 in squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
True
True
False

In [7570]:
# Iterating through a dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])
# Using built-in functions in a dictionary
squares = {1:1, 3: 9, 5: 25, 7: 49, 9: 81}
print(len(squares)) # Prints the Length of the dictionary
print(sorted(squares)) # Prints the dictionary in sorted order

1
9
25
49
81
5
[1, 3, 5, 7, 9]

# Strings

![image22](./images/011.png)

In [7571]:
# different ways to define a string in Python
mystr1 = 'Welcome'
print(mystr1)
mystr2= "Welcome"
print(mystr2)
mystr3='''Welcome'''
print(mystr3)
# triple quotes string can extend multiple lines
mystr3 = """Welcome
to the world of
Python Programming"""
print(mystr3)

Welcome
Welcome
Welcome
Welcome
to the world of
Python Programming

In [7572]:
print(mystr3)
# accessing characters in a string
mystr = 'language'
print('mystr = ', mystr)
print('mystr[0] = ', mystr[0])
print('mystr[7] = ', mystr[7])
print('mystr[-1] = ', mystr[-1])
print('mystr[1:5] = ', mystr[1:5])
print('mystr[5:-2] = ', mystr[5:-2])
#print('mystr[10] = ', mystr[10]) # Error #string index out of range

Welcome
to the world of
Python Programming
mystr =  language
mystr[0] =  l
mystr[7] =  e
mystr[-1] =  e
mystr[1:5] =  angu
mystr[5:-2] =  a

In [7573]:
# strings are immutable
# but different strings can be assigned
mystr = 'language'
print(mystr)
mystr = 'programming'
print (mystr)
#mystr[3] = 'x' #Error #'str' object does not support item assignment

language
programming

In [7574]:
#concatenation of strings
mystr1 = 'Welcome'
mystr2 = ' to all'
# using + operator
print('mystr1 + mystr2 = ', mystr1 + mystr2)
# using * operator
print('mystr1 * 3 =', mystr1*3)

mystr1 + mystr2 =  Welcome to all
mystr1 * 3 = WelcomeWelcomeWelcome

In [7575]:
# iterating through a string
letter_count = 0
for letters in 'Hello World':
    if(letters == 'l'):
        letter_count += 1
print(letter_count, 'times 1 letter has been found')

3 times 1 letter has been found

In [7576]:
# string membership
print('1' in "hello")
print('1' not in "hello")
print('b' in "hello")
print('b' not in "hello")

False
True
False
True

In [7577]:
# built-in functions
mystr = 'university'
# using enumerate()
my_list_enumerate = list(enumerate(mystr))
print('list (enumerate (mystr)', my_list_enumerate)
#using character count
print('len (mystr) = ', len (mystr))

list (enumerate (mystr) [(0, 'u'), (1, 'n'), (2, 'i'), (3, 'v'), (4, 'e'), (5, 'r'), (6, 's'), (7, 'i'), (8, 't'), (9, 'y')]
len (mystr) =  10

In [7578]:
# string formatting using escape sequence
#print("tell me "What's your name?"") # Error # SyntaxError

#using triple quotes
print('''tell me "What's your name?"''')
# escaping single quotes
print('tell me "What\'s your name?"')
# escaping single quotes
print("tell me 'What\'s your name?'")
#escaping double quotes
print("tell me \"What's your name?\"")

tell me "What's your name?"
tell me "What's your name?"
tell me 'What's your name?'
tell me "What's your name?"

In [7579]:
print("C:\\User\\user\\mydata.txt")
print("this line is having a new line \ncharacter")
print("this line is having a tab \t character")
print("ABC written in \x41\x42\x43 (HEX) representation")
#format() method
# default (implicit) order
default_order = "{} {} and {}".format('Today', 'is', 'Sunday')
print(default_order)
# order using positional argument
positional_order = "{1} {0} and {2}".format('is', 'Today', 'Sunday')
print(positional_order)
# order using keyword argument
keyword_order = "{t} {i} and {s}".format(i='is',t='Today', s='Sunday')
print(keyword_order)

C:\User\user\mydata.txt
this line is having a new line
character
this line is having a tab 	 character
ABC written in ABC (HEX) representation
Today is and Sunday
Today is and Sunday
Today is and Sunday

In [7580]:
# formatting numbers
print("Required binary representation of {0} is {0:b}".format(20))
#formatting floats
print("Exponent representation: {0:e}".format(1566.345))
# round off
print("One third is: {0:.3f}".format(1/3))

Required binary representation of 20 is 10100
Exponent representation: 1.566345e+03
One third is: 0.333

In [7581]:
# string methods
print ("gOOD moRNing tO a1L".lower())
print ("gOOD moRNing tO a1L".upper())
print ("gOOD moRNing tO a1L".find('tO'))
print ("gOOD moRNing tO a1L".find('to'))
print ("gOOD moRNing tO a1L".replace('all', 'everybody'))
print ("gOOD moRNing tO a1L".replace('a1L', 'everybody'))

good morning to a1l
GOOD MORNING TO A1L
13
-1
gOOD moRNing tO a1L
gOOD moRNing tO everybody