![image1](images/001.png)

![image2](./images/001-01.png)

In [ ]:
# Declaring and assigning value to constants
PI = 3.14
GRAVITY = 9.8
print(PI)
print(GRAVITY)

In [ ]:
#Declaring and assigning value to a variable
a = "Apple"
print(a)
# Changing value of a variable
a = "Aeroplane"
print(a)
a = 100
print(a)
#Assigning Multiple values to a variable
b, c, d = 1, 2.5, "Hello"
print(b, c, d)
#Assigning same value to multiple variables
b = c = d = 6
print(b, c, d)

![image3](./images/002.png)

In [ ]:
class MyComplexNumber:
    # Constructor methods
    def __init__(self, real=0, imag=0):
        print("MyComplexNumber constructor executing...")
        self.real_part = real
        self.imag_part = imag

    def displayComplex(self): print("{0} + {1}j".format(self.real_part, self.imag_part))

In [ ]:
# Create a new object against MyComplexNumber class
cmp1x1 = MyComplexNumber(20, 80)
# Calling displayComplex() function
#Output: 40 + 50j
cmp1x1.displayComplex()

In [ ]:
# Create another object against MyComplexNumber class
# and create a new attribute 'new_attribute'
cmp1x2 = MyComplexNumber(60, 70)
cmp1x2.new_attribute = 80
cmp1x2.displayComplex()
#Output: (60, 70, 80)
print((cmp1x2.real_part, cmp1x2.imag_part, cmp1x2.new_attribute))

In [ ]:
# but cmp1x1 object doesn't have attribute 'new_attribute' # AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'
# cmp1x1.new_attribute
# print(cmp1x1)

In [ ]:
# Deleting object attributes and the object
print(cmp1x1)
del cmp1x1.real_part
del cmp1x1

In [ ]:
# print(cmp1x1) # output NameError: name 'cmp1x1' is not defined

![image4](./images/003.png)

In [ ]:
# Defining and declaring and array
arr = [10, 20, 30, 40, 50]
print(arr)
#Accessing Array elements
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1])  # Negative Indexing
print(arr[-2])  # Negative Indexing

In [ ]:
brands = ["Tesla", "Apple", "Google", "Microsoft", "Toyota"]
print(brands)
# Finding the Length of the array
num_brands = len(brands)
print(num_brands)
# Adding an element to an array using append()
brands.append("Intel")
print(brands)

In [ ]:
#Removing elements from an array
colors = ["violet", "indigo", "blue", "green", "yellow", "orange", "red"]
print(colors)

del colors[4]
print(colors)

colors.remove("blue")
print(colors)

colors.pop(3)
print(colors)

In [ ]:
# Modifying elements of an array using indexing
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)

fruits[1] = "Pineapple"
print(fruits)

fruits[-1] = "Guava"
print(fruits)

In [ ]:
# Concatenating two arrays using the + operator
concat = [1, 2, 3]
print(concat)

concat + [4, 5, 6]
print(concat)

concat += [4, 5, 6]
print(concat)

In [ ]:
# Repeating element in an array
repeat = ["a"]
print(repeat)

repeat *= 5
print(repeat)

In [ ]:
#Slicing an array
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)
print(fruits[1:4])
print(fruits[:3])
print(fruits[-4:])
print(fruits[-3:-1])

In [ ]:
# Declaring and defining multidimensional array
mult_d_arr = [[1, 2], [3, 4], [5, 6], [7, 8]]
print(mult_d_arr)
print(mult_d_arr[0])
print(mult_d_arr[3])
print(mult_d_arr[2][1])
print(mult_d_arr[3][0])

# File methods

![image5](./images/004.png)

![image6](./images/004-01.png)

# Keywords and identifiers

![image7](./images/005.png)

![image8](./images/005-01.png)

![image9](./images/005-02.png)

In [ ]:
# True False
print(5 == 5)
print(5 > 5)

In [ ]:
# None
print(None == 0)
print(None == False)
print(None == [])
print(None == None)

In [ ]:
def a_void_function():
    a = 1
    b = 2
    c = a + b
    # return c


x = a_void_function()
print(x)

In [ ]:
# and, or, not
print(True and False)
print(True or False)
print(not False)
print(True and True)
print(True or True)
print(not True)

In [ ]:
# as
import math as my_math

print(my_math.cos(my_math.pi))

In [ ]:
# assertion

# assert 5 > 5 # output AssertionError
assert 5 == 5

In [ ]:
# break
for i in range(1, 11):
    if i == 5:
        break
    print(i)

In [ ]:
# continue
for i in range(1, 8):
    if i == 5:
        continue
    print(i)

In [ ]:
# class
class ExampleClass:
    def function1(parameters):
        print("function1() executing...")

    def function2(parameters):
        print("function2() executing...")


ob1 = ExampleClass()
ob1.function1()
ob1.function2()

In [ ]:
# def
def function_name(parameters):
    pass


function_name(10)

In [ ]:
# del
a = 10
print(a)
del a
# print(a) # name 'a' is not defined

In [ ]:
# if..elif..else
num = 2
if num == 1:
    print('One')
elif num == 2:
    print('Two')
else:
    print('Something else')

In [ ]:
# try...raise...catch...finally
try:
    X = 9
    #raise ZeroDivisionError # Division cannot be performed #Execution Successfully
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Execution Successfully")  # Execution Successfully

In [ ]:
# for
for i in range(1, 10, 1):
    print(i)

In [ ]:
# from.. import
from math import cos

print(cos(10))

In [ ]:
#global
globvar = 10


def read1():
    print(globvar)


def write1():
    global globvar
    globvar = 5


def write2():
    globvar = 15


read1()
write1()
read1()
write2()
read1()

In [ ]:
# in
a = [1, 2, 3, 4]
print(4 in a)
print(44 not in a)

In [ ]:
# is
print(True is True)

In [ ]:
# lambda
a = lambda x: x * 2
for i in range(1, 6):
    print(i, a(i))

In [ ]:
# nonLocal
a = 300


def outer_function():
    a = 5

    def inner_function():
        nonlocal a  # looks inside the outer scope not the global scope
        a = 10
        print("Inner function: ", a)

    inner_function()
    print('calling inner_function() a has been changed to', a)
    print("Outer function: ", a)


outer_function()

In [ ]:
# pass
def function(args):
    pass


function(10)

In [ ]:
# return
def func_return():
    return True, 10


flag, number = func_return()
print(func_return())
print(flag)
print(number)

In [ ]:
#while
i = 5
while (i > 0):
    print(i)
    i -= 1

In [ ]:
# with
with open('./example.txt', 'w') as my_file:
    my_file.write('Hello world!')

In [ ]:
# yield
def generator():
    for i in range(6):
        yield i * i


g = generator()
print(list(generator()))
for i in g:
    print(i)

# Tuples

![image10](./images/006.png)

![image11](./images/006-01.png)

![image12](./images/006-02.png)

In [ ]:
# creating an empty tuple
tuple1 = ()
print(tuple1)
# creating tuples with integer elements print(tuple2)
tuple2 = (1, 2, 3)
print(tuple2)
#tuple with mixed datatypes
tuple3 = (101, "Anirban", 20000.00, "HR Dept")
print(tuple3)

In [ ]:
# creation of nested tuple
tuple4 = ("points", [1, 4, 3], (7, 8, 6))
print(tuple4)
# tuple can be created without any parentheses
# also called tuple packing
tuple5 = 101, "Anirban", 20000.00, "HR Dept"
print(tuple5)
# tuple unpacking is also possible
empid, empname, empsal, empdept = tuple5
print(empid)
print(empname)
print(empsal)
print(empdept)
print(type(tuple5))

In [ ]:
# accessing elements in a tuple
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1)
print(tuple1[1])
print(tuple1[3])
print(tuple1[5])

In [ ]:
# nested tuple
nest_tuple2 = ("point", [1, 3, 4], (8, 7, 9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

In [ ]:
# slicing tuple contents
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1[1:3])
print(tuple1[:-3])
print(tuple1[3:])
print(tuple1[:])

In [ ]:
# tuple elements are immutable
tuple1 = ('w', 'e', '1', 'c', 'b', 'm', 'e')
print(tuple1)
# tuple1[2] = 'x' # error # 'tuple' object does not support item assignment
# tuples can be reassigned
tuple1 = ('g', 'o', 'o', 'd', 'b', 'y', 'e')
print(tuple1)

In [ ]:
# concatenation of tuples
tuple2 = ('w', 'e', '1')
tuple3 = ('c', 'o', 'm', 'e')
print(tuple2)
print(tuple3)
print(tuple2 + tuple3)
print(("again",) * 4)

In [ ]:
# deletion operation on a tuple
tuple4 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
# as immutable so elements can not be deleted
# del tuple4[2] # 'tuple' object doesn't support item deletion
# but can delete entire tuple
del tuple4
# print(tuple4) # name 'tuple4' is not defined

In [ ]:
#tuple methods
tuple5 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple5.count('e'))
print(tuple5.index('c'))

In [ ]:
# tuple operations
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple6)
# membership
print('c' in tuple6)
print('c' not in tuple6)
print('a' in tuple6)
print('a' not in tuple6)

In [ ]:
# iteration through tuple elements
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
for letters in tuple6:
    print("letter is -> ", letters)

In [ ]:
# built-in functions with tuple
tuple7 = (22, 33, 55, 44, 77, 66, 11)
print(tuple7)
print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))

# sets

![image13](./images/007.png)

![image14](./images/007-01.png)

![image15](./images/007-02.png)

![image16](./images/007-03.png)

![image17](./images/007-04.png)

In [ ]:
# creating sets
# sets of integers
my_set1 = {11, 33, 66, 55, 44, 22}
print(my_set1)

# set of mixed datatypes
my_set2 = {101, "Agnibha", (21, 2, 1994)}
print(my_set2)
# duplicate values are not allowed
my_set3 = {11, 22, 33, 33, 44, 22}
print(my_set3)

In [ ]:
# set cannot have mutable items
# my_set4 = {1, 2, [3, 4]} # Error #unhashable type: 'list'
# we can make set from a list
my_set5 = set([1, 2, 3, 2])
print(type(my_set5))
print(my_set5)
# we can make list from a set
my_list1 = list({11, 22, 33, 44})
print(type(my_list1))
print(my_list1)

In [ ]:
# operations on sets
my_set1 = {11, 33, 44, 66, 55}
print(my_set1)
# 'set' object does not support indexing
#my_set1[0] #Error
# add an element
my_set1.add(77)
print(my_set1)
# add multiple elements
my_set1.update([88, 99, 22])
print(my_set1)
# add List and set
my_set1.update([100, 102], {103, 104, 105})
print(my_set1)

In [ ]:
# remove and discard
# #initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# discard an element which is not present, no error
my_set1.discard(4)
print(my_set1)
# remove an element which is not present, error raised
#my_set1.remove(6) # KeyError: 6
print(my_set1)
# discard an element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

In [ ]:
# using pop()
#initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# pop an element
print(my_set1.pop())
# pop another element
print(my_set1.pop())
print(my_set1)
# clear my_set
my_set1.clear()
print(my_set1)

In [ ]:
# set operations - union
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use | operator for union
print(myset1 | myset2)
print(myset2 | myset1)
print(myset1.union(myset2))
print(myset2.union(myset1))

In [ ]:
# set operations intersection
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use & operator for intersection
print(myset1 & myset2)
print(myset2 & myset1)
print(myset1.intersection(myset2))
print(myset2.intersection(myset1))

In [ ]:
# set operations - set difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

#use - operator for set difference
print(myset1 - myset2)
print(myset2 - myset1)
print(myset1.difference(myset2))  # differences in only one set
print(myset2.difference(myset1))

# set operations symmetric difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)
# use operator for symmetric difference
print(myset1 ^ myset2)
print(myset2 ^ myset1)
print(myset1.symmetric_difference(myset2))  # differences in all two sets
print(myset2.symmetric_difference(myset1))

In [ ]:
# set membership
myset1 = {0, 1, 2, 3, 4, 5}
print(2 in myset1)
print(6 in myset1)
print(2 not in myset1)
print(6 not in myset1)

In [ ]:
# iterating through a set
for letter in set("welcome"):
    print(letter)

In [ ]:
# built-in functions with set
myset1 = {0, 1, 2, 3, 4, 5}
print(len(myset1))
print(max(myset1))
print(min(myset1))
print(sorted(myset1))

In [ ]:
# python frozenset

# Frozenset is a new class that has the characteristics
# of a set, but its elements cannot be changed once assigned
# While tuples are immutable lists, frozen-sets are immutable sets.
# #initialize A and B
myset1 = frozenset([1, 2, 3, 4])
myset2 = frozenset([3, 4, 5, 6])
print(myset1)
print(myset2)
print(myset1.difference(myset2))
print(myset1.union(myset2))
print(myset1.intersection(myset2))
print(myset1.symmetric_difference(myset2))
# myset1.add(10) #'frozenset' object has no attribute 'add'
# it has look like tuples immutable

# imports

![image18](./images/008.png)

In [ ]:
# Importing module as well as renaming it.
import math as m

print("The value of pi is", m.pi)

In [ ]:
# Usage of from
from math import pi

print("The value of pi is", pi)

In [ ]:
# import all names from the standard module math
from math import *

print("The value of pi is", pi)

# directories

![image19](./images/009.png)

In [ ]:
import os

print(os.getcwd())  #Returns the present working directory
print(os.getcwdb())  #Returns the present working directory as a byte object

In [ ]:
# os.chdir('C:\\Users\\Abdelrahman\\FileTest') #use to change directory
os.chdir('/Users/abdelrahman/PycharmProjects/python-revision/images')  #use to change directory
print(os.listdir())  # ALL files and subdirectories inside a directory # can be known using the Listdir() method.

In [ ]:
# os.mkdir('Test') # used to make a new directory
# os.rename('Test', 'New_One') # used to rename a directory

In [ ]:
os.chdir('/Users/abdelrahman/PycharmProjects/python-revision/')
os.remove('example.txt')  # use to remove a file
# os.rmdir('New_One') # use to remove a directory
# os.chdir('C:\\Users\\Abdelrahman')

# dictionary

![image20](./images/010.png)

![image21](./images/010-01.png)

In [ ]:
#Accessing elements from a dictionary
new_dict = {1: "Hello", 2: "Hi", 3: "Hola"}
print(new_dict)
print(new_dict[1])  # if invalid key rais error
print(new_dict.get(2))  # if invalid key return None

#Updating value
new_dict[1] = "Hey"
print(new_dict)
#Adding value
new_dict[4] = "Namaste"
print(new_dict)

In [ ]:
# Creating a new dictionary
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares)
# remove a particular item
print(squares.pop(4))
print(squares)
# remove an arbitrary item
print(squares.popitem())
print(squares)
# delete a particular item
del squares[1]
print(squares)

del squares  # delete all dict
# print(squares) # Error # name 'squares' is not defined

In [ ]:
# Creating a new dictionary using Comprehension
squares = {x: x * x for x in range(6)}
print(squares)

# Dictionary Membership test
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(squares)

print(1 in squares)
print(2 not in squares)
#membership tests for key only not value
print(49 in squares)

In [ ]:
# Iterating through a dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
for i in squares:
    print(squares[i])
# Using built-in functions in a dictionary
squares = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(len(squares))  # Prints the Length of the dictionary
print(sorted(squares))  # Prints the dictionary in sorted order

# Strings

![image22](./images/011.png)

In [ ]:
# different ways to define a string in Python
mystr1 = 'Welcome'
print(mystr1)
mystr2 = "Welcome"
print(mystr2)
mystr3 = '''Welcome'''
print(mystr3)
# triple quotes string can extend multiple lines
mystr3 = """Welcome
to the world of
Python Programming"""
print(mystr3)

In [ ]:
print(mystr3)
# accessing characters in a string
mystr = 'language'
print('mystr = ', mystr)
print('mystr[0] = ', mystr[0])
print('mystr[7] = ', mystr[7])
print('mystr[-1] = ', mystr[-1])
print('mystr[1:5] = ', mystr[1:5])
print('mystr[5:-2] = ', mystr[5:-2])
#print('mystr[10] = ', mystr[10]) # Error #string index out of range

In [ ]:
# strings are immutable
# but different strings can be assigned
mystr = 'language'
print(mystr)
mystr = 'programming'
print(mystr)
#mystr[3] = 'x' #Error #'str' object does not support item assignment

In [ ]:
#concatenation of strings
mystr1 = 'Welcome'
mystr2 = ' to all'
# using + operator
print('mystr1 + mystr2 = ', mystr1 + mystr2)
# using * operator
print('mystr1 * 3 =', mystr1 * 3)

In [ ]:
# iterating through a string
letter_count = 0
for letters in 'Hello World':
    if (letters == 'l'):
        letter_count += 1
print(letter_count, 'times 1 letter has been found')

In [ ]:
# string membership
print('1' in "hello")
print('1' not in "hello")
print('b' in "hello")
print('b' not in "hello")

In [ ]:
# built-in functions
mystr = 'university'
# using enumerate()
my_list_enumerate = list(enumerate(mystr))
print('list (enumerate (mystr)', my_list_enumerate)
#using character count
print('len (mystr) = ', len(mystr))

In [ ]:
# string formatting using escape sequence
#print("tell me "What's your name?"") # Error # SyntaxError

#using triple quotes
print('''tell me "What's your name?"''')
# escaping single quotes
print('tell me "What\'s your name?"')
# escaping single quotes
print("tell me 'What\'s your name?'")
#escaping double quotes
print("tell me \"What's your name?\"")

In [ ]:
print("C:\\User\\user\\mydata.txt")
print("this line is having a new line \ncharacter")
print("this line is having a tab \t character")
print("ABC written in \x41\x42\x43 (HEX) representation")
#format() method
# default (implicit) order
default_order = "{} {} and {}".format('Today', 'is', 'Sunday')
print(default_order)
# order using positional argument
positional_order = "{1} {0} and {2}".format('is', 'Today', 'Sunday')
print(positional_order)
# order using keyword argument
keyword_order = "{t} {i} and {s}".format(i='is', t='Today', s='Sunday')
print(keyword_order)

In [ ]:
# formatting numbers
print("Required binary representation of {0} is {0:b}".format(20))
#formatting floats
print("Exponent representation: {0:e}".format(1566.345))
# round off
print("One third is: {0:.3f}".format(1 / 3))

In [ ]:
# string methods
print("gOOD moRNing tO a1L".lower())
print("gOOD moRNing tO a1L".upper())
print("gOOD moRNing tO a1L".find('tO'))
print("gOOD moRNing tO a1L".find('to'))
print("gOOD moRNing tO a1L".replace('all', 'everybody'))
print("gOOD moRNing tO a1L".replace('a1L', 'everybody'))

# DataType Conversion

![image23](./images/012.png)

In [ ]:
# Implicit Type Conversion
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int: ", type(num_int))
print("datatype of num_flo: ", type(num_flo))
print("Value of num_new: ", num_new)
print("datatype of num_new: ", type(num_new))

In [ ]:
# Addition of string (higher) data type and integer (Lower) datatype
num_int = 123
num_str = "456"
print("Data type of num_int: ", type(num_int))
print("Data type of num_str:", type(num_str))
# print(num_int+num_str) #Error: Implicit conversion will not work here

In [ ]:
#Explicit Type Conversion
num_int = 123
num_str = "456"
print("Data type of num_int: ", type(num_int))
print("Data type of num_str before Type Casting: ", type(num_str))

num_str = int(num_str)  # Converting string to int
print("Data type of num_str after Type Casting: ", type(num_str))

num_sum = num_int + num_str
print("Sum of num_int and num_str:", num_sum)
print("Data type of the sum: ", type(num_sum))

# Numbers

![image24](./images/013.png)

![image25](./images/013-01.png)

![image26](./images/013-02.png)

In [ ]:
value1 = 100
print(type(value1))
print(isinstance(value1, int))
print(isinstance(value1, float))
print(isinstance(value1, complex))

In [ ]:
value2 = 100.24
print(type(value2))
print(isinstance(value2, int))
print(isinstance(value2, float))
print(isinstance(value2, complex))

In [ ]:
value3 = 50 + 6j
print(type(value3))
print(isinstance(value3, int))
print(isinstance(value3, float))
print(isinstance(value3, complex))

In [ ]:
print(0b1101)
print(0xab)
print(0o23)

In [ ]:
print(10 + 33.4)

In [ ]:
# Type conversion
print(int(10.5))
print(int(-20.99))
print(float(10))

In [ ]:
#Python Decimal
from decimal import Decimal as D

data1 = 0.1 + 0.2
print(f"with normal way: {data1}")
print(f"with Decimal: {D('0.1') + D('0.2')}")

data1 = 1.20 * 2.50
print(f"with normal way: {data1}")
print(f"with Decimal: {D('1.2') * D('2.5')}")

In [ ]:
# Python Fractions
from fractions import Fraction as F

print(F(1.5))
print(F(5))
print(F(1, 5))
print(F(3, 70))

In [ ]:
# Python math module
import math

print(math.pi)
print(math.cos(10))
print(math.log(10))
print(math.log10(10))
print(math.exp(10))
print(math.factorial(5))
print(math.sinh(10))
print(abs(-12.34))

In [ ]:
# Python random module
import random

print('Random number -> ', random.randrange(5, 15))
print('Random number -> ', random.randrange(5, 15))
print('Random number -> ', random.randrange(5, 15))
print('Random number -> ', random.randrange(5, 15))
day = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
print(random.choice(day))
print(day)
random.shuffle(day)
print(day)
# Print random element
print(random.random())

# Namespace

![image27](./images/014.png)

![image28](./images/014-01.png)

In [ ]:
# Name (also called identifier) is simply a name given to objects.
# We can get the address (in RAM) of some object through the built-in function, id(). #Note: You may get different value of id
a = 2
# Output: id (2)= 4363189832
print('id(2)=', id(2))

#Output: id (a) = 4363189832
print('id(a)=', id(a))
a = 2
# Output: id (a) = 4363189832
print('id(a)=', id(a))

a = a + 1
#Output: id(a) = 4363189864
print('id(a)=', id(a))
#Output: id(3) = 4363189864
print('id(3)=', id(3))
b = 2
#Output: id(2) = 4363189832
print('id(2)=', id(2))
print('id(b)=', id(b))

In [ ]:
#Scope

def outer_function():
    global a
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
print('a =', a)
outer_function()
print('a =', a)

In [ ]:
def outer_function():
    a = 20

    def inner_function():
        global a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


a = 10
print('a =', a)
outer_function()
print('a =', a)

# Local && Global and Nonlocal Variables

![image29](./images/015.png)

In [ ]:
# Global and Local variable with different name
x = "global"  # Global variable can be accessed from anywhere


def funct1():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)


print("Global x = ", x)
funct1()
print("Global x = ", x)

In [ ]:
# Global and Local variable with same name
a = 5

def funct2():
    a = 10      # Local variables are accessed from the block where it is defined only
    print("local a:", a)
print("global a:", a)
funct2()
print("global a:", a)

In [ ]:
# Creating and using a Non-Local variable
def outer():
    x = "local"
    def inner():
        nonlocal x # Nonlocal variable are used in nested function
        x = "nonlocal"
        print("inner:", x)
    inner()
    print("outer:", x) # This will print 'nonlocal' also
outer()

In [ ]:
def outer_function():
    a = 20
    def inner_function():
        a = 30
        print('a =', a)
    inner_function()
    print('a =', a)
outer_function()

In [ ]:
def outer_function():
    a = 20

    def inner_function():
        nonlocal a
        a = 30
        print('a =', a)

    inner_function()
    print('a =', a)


outer_function()

In [ ]:
b=10
c = 100
def outer_function2():
    b = 20
    c = 300
    def inner_function():
        global b
        print('changing global b value',b)
        b = 3028932846923
        nonlocal c
        print('changing nonlocal c value',c)
        c = 5050505
        print('b =', b)
        print('c =', c)

    print('before calling inner_function b=', b)
    print('before calling inner_function c=', c)
    inner_function()
    print('after calling inner_function b=', b)
    print('after calling inner_function c=', c)

outer_function2()
print('b =', b)
print('c =', c)