![image1](images/001.png)

![image2](./images/001-01.png)

In [4081]:
# Declaring and assigning value to constants
PI = 3.14
GRAVITY = 9.8
print(PI)
print(GRAVITY)

3.14
9.8

In [4082]:
#Declaring and assigning value to a variable
a= "Apple"
print(a)
# Changing value of a variable
a = "Aeroplane"
print(a)
a = 100
print(a)
#Assigning Multiple values to a variable
b, c, d = 1, 2.5, "Hello"
print(b, c, d)
#Assigning same value to multiple variables
b = c=d=6
print(b, c, d)

Apple
Aeroplane
100
1 2.5 Hello
6 6 6

![image3](./images/002.png)

In [4083]:
class MyComplexNumber:
    # Constructor methods
    def __init__(self, real = 0,imag = 0):
        print("MyComplexNumber constructor executing...")
        self.real_part = real
        self.imag_part = imag

    def displayComplex(self): print("{0} + {1}j".format(self.real_part, self.imag_part))

In [4084]:
# Create a new object against MyComplexNumber class
cmp1x1 = MyComplexNumber (20,80)
# Calling displayComplex() function
#Output: 40 + 50j
cmp1x1.displayComplex()

MyComplexNumber constructor executing...
20 + 80j

In [4085]:
# Create another object against MyComplexNumber class
# and create a new attribute 'new_attribute'
cmp1x2 = MyComplexNumber (60,70)
cmp1x2.new_attribute = 80
cmp1x2.displayComplex()
#Output: (60, 70, 80)
print((cmp1x2.real_part, cmp1x2.imag_part, cmp1x2.new_attribute))

MyComplexNumber constructor executing...
60 + 70j
(60, 70, 80)

In [4086]:
# but cmp1x1 object doesn't have attribute 'new_attribute' # AttributeError: 'MyComplexNumber' object has no attribute 'new_attribute'
# cmp1x1.new_attribute
# print(cmp1x1)

In [4087]:
# Deleting object attributes and the object
print(cmp1x1)
del cmp1x1.real_part
del cmp1x1

<__main__.MyComplexNumber object at 0x106bc0990>

In [4088]:
# print(cmp1x1) # output NameError: name 'cmp1x1' is not defined

![image4](./images/003.png)

In [4089]:
# Defining and declaring and array
arr = [10, 20, 30, 40, 50]
print(arr)
#Accessing Array elements
print(arr[0])
print(arr[1])
print(arr[2])
print(arr[-1]) # Negative Indexing
print (arr[-2]) # Negative Indexing

[10, 20, 30, 40, 50]
10
20
30
50
40

In [4090]:
brands = ["Tesla", "Apple", "Google", "Microsoft", "Toyota"]
print(brands)
# Finding the Length of the array
num_brands= len(brands)
print(num_brands)
# Adding an element to an array using append()
brands.append("Intel")
print(brands)

['Tesla', 'Apple', 'Google', 'Microsoft', 'Toyota']
5
['Tesla', 'Apple', 'Google', 'Microsoft', 'Toyota', 'Intel']

In [4091]:
#Removing elements from an array
colors = ["violet", "indigo", "blue", "green", "yellow", "orange", "red"]
print(colors)

del colors [4]
print(colors)

colors.remove("blue")
print(colors)

colors.pop(3)
print(colors)

['violet', 'indigo', 'blue', 'green', 'yellow', 'orange', 'red']
['violet', 'indigo', 'blue', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'orange', 'red']
['violet', 'indigo', 'green', 'red']

In [4092]:
# Modifying elements of an array using indexing
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)

fruits[1] = "Pineapple"
print(fruits)

fruits[-1] ="Guava"
print(fruits)

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Orange']
['Apple', 'Pineapple', 'Mango', 'Grapes', 'Guava']

In [4093]:
# Concatenating two arrays using the + operator
concat = [1, 2, 3]
print(concat)

concat + [4, 5, 6]
print(concat)

concat += [4, 5, 6]
print(concat)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [4094]:
# Repeating element in an array
repeat= ["a"]
print(repeat)

repeat *= 5
print(repeat)

['a']
['a', 'a', 'a', 'a', 'a']

In [4095]:
#Slicing an array
fruits = ["Apple", "Banana", "Mango", "Grapes", "Orange"]
print(fruits)
print(fruits[1:4])
print(fruits[:3])
print(fruits[-4:])
print(fruits[-3:-1])

['Apple', 'Banana', 'Mango', 'Grapes', 'Orange']
['Banana', 'Mango', 'Grapes']
['Apple', 'Banana', 'Mango']
['Banana', 'Mango', 'Grapes', 'Orange']
['Mango', 'Grapes']

In [4096]:
# Declaring and defining multidimensional array
mult_d_arr = [[1,2], [3,4], [5,6], [7,8]]
print(mult_d_arr)
print(mult_d_arr[0])
print(mult_d_arr[3])
print(mult_d_arr[2][1])
print(mult_d_arr[3][0])

[[1, 2], [3, 4], [5, 6], [7, 8]]
[1, 2]
[7, 8]
6
7

# File methods

![image5](./images/004.png)

![image6](./images/004-01.png)

# Keywords and identifiers

![image7](./images/005.png)

![image8](./images/005-01.png)

![image9](./images/005-02.png)

In [4097]:
# True False
print(5 == 5)
print(5 > 5)

True
False

In [4098]:
# None
print (None == 0)
print (None == False)
print (None == [])
print (None == None)

False
False
False
True

In [4099]:
def a_void_function():
    a = 1
    b = 2
    c = a + b
    # return c
x = a_void_function()
print(x)

None

In [4100]:
# and, or, not
print (True and False)
print (True or False)
print(not False)
print (True and True)
print (True or True)
print(not True)

False
True
True
True
True
False

In [4101]:
# as
import math as my_math
print(my_math.cos (my_math.pi))

-1.0

In [4102]:
# assertion

# assert 5 > 5 # output AssertionError
assert 5 == 5

In [4103]:
# break
for i in range(1,11):
    if i == 5:
        break
    print(i)

1
2
3
4

In [4104]:
# continue
for i in range(1,8):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7

In [4105]:
# class
class ExampleClass:
    def function1 (parameters):
        print("function1() executing...")

    def function2(parameters):
        print("function2() executing...")
ob1 = ExampleClass()
ob1. function1()
ob1.function2()

function1() executing...
function2() executing...

In [4106]:
# def
def function_name (parameters):
    pass
function_name(10)

In [4107]:
# del
a = 10
print(a)
del a
# print(a) # name 'a' is not defined

10

In [4108]:
# if..elif..else
num = 2
if num == 1:
    print('One')
elif num == 2:
    print('Two')
else:
    print('Something else')

Two

In [4109]:
# try...raise...catch...finally
try:
    X = 9
    #raise ZeroDivisionError # Division cannot be performed #Execution Successfully
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Execution Successfully") # Execution Successfully

Execution Successfully

In [4110]:
# for
for i in range(1, 10, 1):
    print(i)

1
2
3
4
5
6
7
8
9

In [4111]:
# from.. import
import math
from math import cos
print(cos(10))

-0.8390715290764524

In [4112]:
#global
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15
read1()
write1()
read1()
write2()
read1()

10
5
5

In [4113]:
# in
a = [1,2,3,4]
print(4 in a)
print(44 not in a)

True
True

In [4114]:
# is
print(True is True)

True

In [4115]:
# lambda
a = lambda x: x*2
for i in range(1,6):
    print(i, a(i))

1 2
2 4
3 6
4 8
5 10

In [4116]:
# nonLocal
a = 300
def outer_function():
    a = 5
    def inner_function():
        nonlocal a # looks inside the outer scope not the global scope
        a = 10
        print("Inner function: ",a)
    inner_function()
    print('calling inner_function() a has been changed to',a)
    print("Outer function: ",a)
outer_function()

Inner function:  10
calling inner_function() a has been changed to 10
Outer function:  10

In [4117]:
# pass
def function(args):
    pass
function(10)

In [4118]:
# return
def func_return():
    return True, 10
flag, number = func_return()
print(func_return())
print(flag)
print(number)

(True, 10)
True
10

In [4119]:
#while
i = 5
while(i > 0):
    print(i)
    i -= 1

5
4
3
2
1

In [4120]:
# with
with open('./example.txt', 'w') as my_file:
    my_file.write('Hello world!')

In [4121]:
# yield
def generator():
    for i in range(6):
        yield i*i
g= generator()
print(list(generator()))
for i in g:
    print(i)

[0, 1, 4, 9, 16, 25]
0
1
4
9
16
25

# Tuples

![image10](./images/006.png)

![image11](./images/006-01.png)

![image12](./images/006-02.png)

In [4122]:
# creating an empty tuple
tuple1 = ()
print(tuple1)
# creating tuples with integer elements print(tuple2)
tuple2 = (1, 2, 3)
print(tuple2)
#tuple with mixed datatypes
tuple3 = (101, "Anirban", 20000.00, "HR Dept")
print(tuple3)

()
(1, 2, 3)
(101, 'Anirban', 20000.0, 'HR Dept')

In [4123]:
# creation of nested tuple
tuple4=("points", [1,4,3], (7,8,6))
print(tuple4)
# tuple can be created without any parentheses
# also called tuple packing
tuple5 = 101, "Anirban", 20000.00, "HR Dept"
print(tuple5)
# tuple unpacking is also possible
empid, empname, empsal, empdept = tuple5
print(empid)
print(empname)
print (empsal)
print(empdept)
print(type (tuple5))

('points', [1, 4, 3], (7, 8, 6))
(101, 'Anirban', 20000.0, 'HR Dept')
101
Anirban
20000.0
HR Dept
<class 'tuple'>

In [4124]:
# accessing elements in a tuple
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1)
print(tuple1[1])
print(tuple1[3])
print(tuple1[5])

('w', 'e', '1', 'c', 'o', 'm', 'e')
e
c
m

In [4125]:
# nested tuple
nest_tuple2 = ("point", [1,3,4], (8,7,9))
print(nest_tuple2)
print(nest_tuple2[0][3])
print(nest_tuple2[1][2])
print(nest_tuple2[2][2])

('point', [1, 3, 4], (8, 7, 9))
n
4
9

In [4126]:
# slicing tuple contents
tuple1 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple1[1:3])
print(tuple1[:-3])
print(tuple1[3:])
print(tuple1[:])

('e', '1')
('w', 'e', '1', 'c')
('c', 'o', 'm', 'e')
('w', 'e', '1', 'c', 'o', 'm', 'e')

In [4127]:
# tuple elements are immutable
tuple1 = ('w', 'e', '1', 'c', 'b', 'm', 'e')
print (tuple1)
# tuple1[2] = 'x' # error # 'tuple' object does not support item assignment
# tuples can be reassigned
tuple1 = ('g', 'o', 'o', 'd', 'b', 'y', 'e')
print (tuple1)

('w', 'e', '1', 'c', 'b', 'm', 'e')
('g', 'o', 'o', 'd', 'b', 'y', 'e')

In [4128]:
# concatenation of tuples
tuple2 = ('w', 'e', '1')
tuple3 = ('c', 'o', 'm', 'e')
print(tuple2)
print(tuple3)
print(tuple2+tuple3)
print(("again",)*4)

('w', 'e', '1')
('c', 'o', 'm', 'e')
('w', 'e', '1', 'c', 'o', 'm', 'e')
('again', 'again', 'again', 'again')

In [4129]:
# deletion operation on a tuple
tuple4=('w', 'e', '1', 'c', 'o', 'm', 'e')
# as immutable so elements can not be deleted
# del tuple4[2] # 'tuple' object doesn't support item deletion
# but can delete entire tuple
del tuple4
# print(tuple4) # name 'tuple4' is not defined

In [4130]:
#tuple methods
tuple5 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple5.count('e'))
print(tuple5.index('c'))

2
3

In [4131]:
# tuple operations
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
print(tuple6)
# membership
print('c' in tuple6)
print('c' not in tuple6)
print('a' in tuple6)
print('a' not in tuple6)

('w', 'e', '1', 'c', 'o', 'm', 'e')
True
False
False
True

In [4132]:
# iteration through tuple elements
tuple6 = ('w', 'e', '1', 'c', 'o', 'm', 'e')
for letters in tuple6:
    print("letter is -> ",letters)

letter is ->  w
letter is ->  e
letter is ->  1
letter is ->  c
letter is ->  o
letter is ->  m
letter is ->  e

In [4133]:
# built-in functions with tuple
tuple7 = (22,33,55,44,77,66,11)
print(tuple7)
print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))

(22, 33, 55, 44, 77, 66, 11)
77
11
[11, 22, 33, 44, 55, 66, 77]
7

# sets

![image13](./images/007.png)

![image14](./images/007-01.png)

![image15](./images/007-02.png)

![image16](./images/007-03.png)

![image17](./images/007-04.png)

In [4134]:
# creating sets
# sets of integers
my_set1 = {11,33,66,55,44,22}
print(my_set1)

# set of mixed datatypes
my_set2 = { 101, "Agnibha", (21, 2, 1994)}
print(my_set2)
# duplicate values are not allowed
my_set3 = {11, 22, 33, 33, 44, 22}
print(my_set3)

{33, 66, 22, 55, 11, 44}
{(21, 2, 1994), 101, 'Agnibha'}
{33, 11, 44, 22}

In [4135]:
# set cannot have mutable items
# my_set4 = {1, 2, [3, 4]} # Error #unhashable type: 'list'
# we can make set from a list
my_set5=set([1,2,3,2])
print(type (my_set5))
print(my_set5)
# we can make list from a set
my_list1 = list({11,22,33,44})
print(type (my_list1))
print(my_list1)

<class 'set'>
{1, 2, 3}
<class 'list'>
[33, 11, 44, 22]

In [4136]:
# operations on sets
my_set1 = {11,33,44,66,55}
print(my_set1)
# 'set' object does not support indexing
#my_set1[0] #Error
# add an element
my_set1.add(77)
print(my_set1)
# add multiple elements
my_set1.update([88,99,22])
print(my_set1)
# add List and set
my_set1.update([100, 102], {103,104,105})
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44, 77}
{66, 11, 77, 22, 88, 33, 99, 44, 55}
{66, 11, 77, 22, 88, 33, 99, 100, 102, 103, 104, 105, 44, 55}

In [4137]:
# remove and discard
# #initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# discard an element which is not present, no error
my_set1.discard(4)
print(my_set1)
# remove an element which is not present, error raised
#my_set1.remove(6) # KeyError: 6
print(my_set1)
# discard an element
my_set1.discard(44)
print(my_set1)
my_set1.remove(55)
print(my_set1)

{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11, 44}
{33, 66, 55, 11}
{33, 66, 11}

In [4138]:
# using pop()
#initialize my_set
my_set1 = {11, 33, 44, 55, 66}
print(my_set1)
# pop an element
print(my_set1.pop())
# pop another element
print(my_set1.pop())
print(my_set1)
# clear my_set
my_set1.clear()
print(my_set1)

{33, 66, 55, 11, 44}
33
66
{55, 11, 44}
set()

In [4139]:
# set operations - union
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use | operator for union
print (myset1 | myset2)
print(myset2 | myset1)
print(myset1.union (myset2))
print (myset2.union (myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4140]:
# set operations intersection
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

# use & operator for intersection
print (myset1 & myset2)
print (myset2 & myset1)
print(myset1.intersection (myset2))
print (myset2.intersection (myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{4, 5}
{4, 5}
{4, 5}
{4, 5}

In [4141]:
# set operations - set difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print(myset1)
print(myset2)

#use - operator for set difference
print (myset1 - myset2)
print (myset2 - myset1)
print (myset1.difference(myset2)) # differences in only one set
print (myset2.difference(myset1))

# set operations symmetric difference
myset1 = {0, 1, 2, 3, 4, 5}
myset2 = {4, 5, 6, 7, 8, 9}
print (myset1)
print(myset2)
# use operator for symmetric difference
print (myset1 ^ myset2)
print (myset2 ^ myset1)
print (myset1.symmetric_difference(myset2)) # differences in all two sets
print (myset2.symmetric_difference(myset1))

{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3}
{8, 9, 6, 7}
{0, 1, 2, 3, 4, 5}
{4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}
{0, 1, 2, 3, 6, 7, 8, 9}

In [4142]:
# set membership
myset1 = {0, 1, 2, 3, 4, 5}
print (2 in myset1)
print(6 in myset1)
print (2 not in myset1)
print(6 not in myset1)

True
False
False
True

In [4143]:
# iterating through a set
for letter in set("welcome"):
    print(letter)

e
w
o
m
c
l

In [4144]:
# built-in functions with set
myset1 = {0, 1, 2, 3, 4, 5}
print(len(myset1))
print(max (myset1))
print(min (myset1))
print(sorted (myset1))

6
5
0
[0, 1, 2, 3, 4, 5]

In [4145]:
# python frozenset

# Frozenset is a new class that has the characteristics
# of a set, but its elements cannot be changed once assigned
# While tuples are immutable lists, frozen-sets are immutable sets.
# #initialize A and B
myset1 = frozenset([1, 2, 3, 4])
myset2 = frozenset([3, 4, 5, 6])
print(myset1)
print(myset2)
print(myset1.difference (myset2))
print(myset1.union (myset2))
print (myset1.intersection (myset2))
print(myset1.symmetric_difference (myset2))
# myset1.add(10) #'frozenset' object has no attribute 'add'
# it has look like tuples immutable

frozenset({1, 2, 3, 4})
frozenset({3, 4, 5, 6})
frozenset({1, 2})
frozenset({1, 2, 3, 4, 5, 6})
frozenset({3, 4})
frozenset({1, 2, 5, 6})